*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(217, 54%, 11%);
}

.card {      
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .card part is used for the main background and to center the container including its content */

.container {
    background-color: blue;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* .container will be used to create the sizing of the card itself and to center the content within */




/* <main>
        <section class="card">
            <div class="container">
                <img src="/images/image-equilibrium.jpg" alt="Image of the equilibrium NFT token" class="mainimg">
                <div class="content">
                    <h1>Equilibrium #3429</h1>
                    <p>Our Equilibrium collection promotes balance and calm.</p>
                    <div class="eth flex">
                        <div class="col1">
                            <img src="/images/icon-ethereum.svg" alt="Ethereum Logo">
                            <p>0.041 ETH</p>
                        </div>
                        <div class="col2">
                            <img src="/images/icon-clock.svg" alt="Clock icon">
                            <p>3 days left</p>
                        </div>
                    </div>
                    <hr>
                    <div class="credit-flex">
                        <img src="images/image-avatar.png" alt="Jules Wyvern creator of NFT">
                        <p>Creation of <span>Jules Wyvern</span></p>
                    </div>
                </div>
            </div>
        </section>
    </main> */